@-webkit-keyframes background-mountains-move {
  from  {left: 0px;}
	to    {left: -2048px;}
}

@-webkit-keyframes background-clouds-1-move {
  from  {left: -2048px;}
	to    {left: 0px;}
}

@-webkit-keyframes background-clouds-2-move {
  from  {left: -2048px;}
	to    {left: 0px;}
}
	  
#background {
  background: #000;
}

#background, #background_color, #clouds-1, #clouds-2, #mountains {
  width: 4096px;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}

#background, #background_color {
  width: 100%;
}

#sun {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 300px;
  height: 300px;
  background: transparent url(images/sun-halo.png) no-repeat left top;
  -webkit-animation-duration: 86400s;
}

#background_color {
  background: rgb(0, 159, 246);
  -webkit-animation-duration: 86400s;
}

#background_color, #clouds-1, #clouds-2, #mountains, #sun {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;    
}

#clouds-2 {
  background: url(images/clouds-bottom.png) no-repeat left bottom;
/*  -webkit-animation-name: background-clouds-2-move;  */
  -webkit-animation-duration: 2000s;
}

#mountains {
  background: url(images/mountains.png) no-repeat left bottom;
  -webkit-animation-name: background-mountains-move;  
  -webkit-animation-duration: 180s;
}