<li class="red">
  Barnum
  <div class="description">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a1.twimg.com/profile_images/96745382/Photo_71_bigger.jpg">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a1.twimg.com/profile_images/96745382/Photo_71_bigger.jpg">
  </div>
</li>
<li class="green">Svel.to
  <div class="description">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a1.twimg.com/profile_images/96745382/Photo_71_bigger.jpg">
  </div>
</li>
<li class="yellow">Traveltradeitalia.com
  <div class="description">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
  </div>
</li>
<li class="red">
  Barnum
  <div class="description">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a1.twimg.com/profile_images/96745382/Photo_71_bigger.jpg">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a1.twimg.com/profile_images/96745382/Photo_71_bigger.jpg">
  </div>
</li>
<li class="green">Svel.to
  <div class="description">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a1.twimg.com/profile_images/96745382/Photo_71_bigger.jpg">
  </div>
</li>
<li class="yellow">Traveltradeitalia.com
  <div class="description">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
  </div>
</li>
<li class="green">Svel.to
  <div class="description">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a3.twimg.com/profile_images/71977949/pilu3_bigger.jpg">
    <img class="avatar" src="http://a1.twimg.com/profile_images/96745382/Photo_71_bigger.jpg">
  </div>
</li>
