<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script>jQuery.noConflict();</script>
  <script src="/j/jquery.timers.js" type="text/javascript" charset="utf-8"></script>
  
  <link rel="stylesheet" href="/s/style.css" type="text/css" media="screen" charset="utf-8">

  <script type="text/javascript">
    var continousIntegration = <%= CONTINOUS_INTEGRATION_URL.to_json %>
    var searchKeyword = <%= SEARCH_KEYWORD.to_json %>
    var fetchPrivate = <%= @fetch_private.to_json %>
  </script>
  
  <!-- Background -->  
  <script type="text/javascript" charset="utf-8" src="/components/background/background.js"></script>
  <link rel="stylesheet" href="/components/background/style.css" type="text/css" media="screen" charset="utf-8">  
  <!-- End Background -->
  
  <!-- Flying dude -->  
  <script type="text/javascript" charset="utf-8" src="/components/flying_dude/j/flying_dude.js"></script>
  <link rel="stylesheet" href="/components/flying_dude/style.css" type="text/css" media="screen" charset="utf-8">  
  <!-- End Flying dude -->
  
  <!-- Leaderboard -->  
  <script type="text/javascript" charset="utf-8" src="/components/leaderboard/leaderboard.js"></script>
  <link rel="stylesheet" href="/components/leaderboard/style.css" type="text/css" media="screen" charset="utf-8">  
  <!-- End Leaderboard -->

  <script type="text/javascript" charset="utf-8" src="/components/twicker/j/twicker.js"></script>
  <script type="text/javascript" charset="utf-8" src="/components/projects/j/dashboard.js"></script>

	<title>Super Doom Board</title>
	
</head>

<body>  
  <div id="container">
    
    <div id="background">
      <div id="background_color"></div>
      <div id="sun"></div>
      <div id="clouds-1"></div>
      <div id="clouds-2"></div>
      
      <div id="flying-dude-container">
        <div id="flying-dude">
          <img class="gravatar" />
          <div class="message"></div>
        </div>
      </div>
      
      <div id="mountains"></div>
    </div>
    
    <div id="leaderboard"></div>
    
    <div id="container-overlay"></div>
      <ul id="left-items">
        <% @projects.each do |project| %>
        <li id="<%= project[:min_url] %>" class="<%= project[:build_status] %>"><%= project[:name] %>
          <div class="description">
            <% @authors[project[:min_url]].each do |author| %>
              <img class="avatar" src="<%= author %>">
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
      <div id="tweets-container">
        <div id="tweets"  class="cf">          
        </div>
      </div>                  
    </div>
        
</body>
</html>
