<ul id="left-items">
  <% @projects.each do |project| %>
  <li id="<%= project[:min_url] %>" class="<%= project[:build_status] %>"><%= project[:name] %>
    <div class="description">
      <% @authors[project[:min_url]].each do |author| %>
        <img class="avatar" src="<%= author %>">
      <% end %>
    </div>
  </li>
  <% end %>
</ul>
