#leaderboard {
  position: absolute;
  width: 350px;
  right: 0;
  top: 50px;
  background: rgba(0, 0, 0, 0.8);  
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  color: #fff;
}

#leaderboard h2 {
  font-size: 22px;
  margin: 0;
  background: #f68b00;
  padding: 5px 0 5px 10px;
  -webkit-border-top-left-radius: 8px;
}

#leaderboard .users {
  padding: 10px;
}

#leaderboard .user {  
  font-size: 14px;
  margin-bottom: 15px;
}

#leaderboard .user .avatar {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}