@-webkit-keyframes flying-dude-swing {
  0%   { -webkit-transform: rotate(-5deg) }
  50%   { -webkit-transform: rotate(2deg) }
  100% { -webkit-transform: rotate(-5deg) }
}

@-webkit-keyframes flying-dude-move {
  0%   { top: 0px; }
  100% { top: 120%; }
}

#flying-dude-container {
  position: absolute;
  width: 177px;
  height: 237px;
  left: 50%;
  top: 0px;
  -webkit-animation-name: flying-dude-move;  
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
}

#flying-dude {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url(images/flying-dude.png);
  left: 0;
  top: -237px;/* hack sti cazz */
  -webkit-animation-name: flying-dude-swing;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
}


#flying-dude .gravatar {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 147px;
  left: 43px;  
}

#flying-dude .message {
  position: absolute;
  width: 200px;
  height: 27px;
  background: #fff;
  top: 143px;
  left: 100px;
  -webkit-border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}