.cf:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.cf {display: inline-block;}

/* Hides from IE-mac \*/
* html .cf {height: 1%;}
.cf {display: block;}
/* End hide from IE-mac */

@font-face {
  font-family: "Visitor TT1 BRK"; 
  src: url('/f/visitor1.ttf');
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Visitor TT1 BRK";      
  font-size: 20px;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0px;
}

#container-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  background: rgba(0, 0, 0, 0.0);
}

#left-items {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0 0;        
  position: absolute;        
  left: -20px;
  top: 20px;
  line-height: 40px;  
  color: #fff;
  text-shadow: 4px 4px 4px #000;
}

#left-items li {
  font-size: 26px;
/*  -webkit-transform: rotate(20deg);*/
  background: rgba(0, 40, 0, 0.8);
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  padding: 0 40px;
  margin-bottom: 20px;
  width: 350px;
  text-align: right;
  position: relative;
}

#left-items li.failed {
  background: rgba(255, 0, 0, 0.8);
}

#left-items li.success {
  background: rgba(0, 255, 0, 0.8);
}

#left-items li.pending, #left-items li.building {
  background: rgba(255, 255, 0, 0.8);
}

#left-items li .message.fail {
  position: absolute;
  right: -80px;
  font-size: 30px;
  text-shadow: none;
}

#left-items li .description {
  text-align: left;
  position: absolute;
  width: 800px;
  right: -820px; 
  top: -0px; 
/*  -webkit-transform: rotate(-20deg); */
}

#left-items li .avatar {
  width: 35px;
  -webkit-border-radius: 8px;
  border: 5px solid rgba(0,50,0,0.3);
}
#left-items h1 {
  font-weight: normal;
}
    
@-webkit-keyframes tweets-move {
  from  {left: 100px;}
	to    {left: -5120px;}
}

td.project-name {
  text-align: right;
  border-right: 3px solid black;
  padding-right: 5px;
}

.fail {
  color: #ff0000;
}

.pending {
  color: #ffff00;
}

.pass {
  color: #00ff00;
}

#tweets-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5000px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 3px solid rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
}

#tweets {
  position: absolute;
  left: 0;
  top: 0;  
  -webkit-animation-name: tweets-move;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 90s;
}

#tweets .tweet {
  color: #fff;
  float: left;
  margin-right: 20px;
  position: relative;
  font-size: 32px;
}

#tweets .avatar {
  vertical-align: middle;
  width: 40px;
  border: 2px solid #000;
}

#tweets .flower {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -5px;
  top: -40px;
  background: url(flower.gif) left top no-repeat;
}

#tweets .username {
  color: #22cc22;
}

#tweets .reply {
  color: #2222cc;
}

.graph {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  width: 150px;
}

dd {
  margin: 0;
  padding: 0;
}
