<h2><%= @title %></h2>
<div class="users">
  <% @leaderboard.each do |user| %>  
    <div class="user">    
      <img class="avatar" src="<%= user[:gravatar] %>" />
      <span class="name"><%= user[:name] %></span>
      <span class="count"><%= user[:commits] %></span>
    </div>
  <% end %>
</div>